// footer
.footer {
    color: #fff;
    background-color: #181E23;

    .title-col {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .item-col {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: #6F777C;
            font-weight: 600;

            &:hover {
                color: #fff;
            }
        }
    }
}