// import boostrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "res";

// custom code

// header
.header {
    .navbar {
        .container-fluid {

            .navbar-brand {
                padding: 0;
                margin: 0;
            }

            .navbar-collapse {
                flex-grow: 0;
            }

            .navbar-right {
                margin-right: 10px;

                ul {
                    gap: 0.8rem;
                    flex-direction: row;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .navbar {
            .container-fluid {
                .navbar-brand {
                    margin-left: -5.8rem;
                }

                .navbar-right {
                    margin-right: 0;
                }
            }
        }
    }
}

// content
.content {

    // best sellers
    .best-sellers {
        background: url("../images/bg-ptrn1.png");

        .best-sellers-k {
            flex-direction: column;
            justify-content: center;

            .margin-k {
                margin-bottom: 0.5rem;
            }
        }

        .tabs-k {
            flex-direction: column;
            justify-content: center;

            .nav-pills-k {
                flex-direction: row !important;
                margin-right: 0;
                margin-bottom: 1rem;
                width: 100%;
                justify-content: space-evenly;
            }
        }

        @include media-breakpoint-up(md) {
            .best-sellers-k {
                flex-direction: row;
                justify-content: space-between;

                .margin-k {
                    margin-bottom: 0;
                }
            }

            .tabs-k {
                flex-direction: row;

                // menu tabs
                .nav-pills-k {
                    width: auto;
                    flex-direction: column !important;
                    margin-bottom: 0;
                }
            }
        }
    }

    .bg-img-1 {
        height: 40px;
        background: url("../images/bg1-1.png");
    }

    // best collection
    .best-collection {
        margin-top: 1rem;

        .title-top {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            text-align: center;

            div {
                h4 {
                    color: #46BE7E;
                }

                h2 {
                    font-weight: bold;
                }
            }
        }

        .content {
            .text-start {
                text-align: left !important;
            }

            .text-end {
                text-align: right !important;
            }

            .detail {
                background: url("../images/bg-ptrn2.png") no-repeat #27ba7a;
                padding: 30px 30px 45px;

                h2 {
                    text-transform: uppercase;
                    color: #fff;
                }

                .link {
                    text-decoration: none;
                    color: #000;
                    position: relative;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .link:after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    left: 0;
                    bottom: -10px;
                    background-color: #fff;
                    position: absolute;
                    display: block;
                }
            }

            .detail-1 {
                top: 60px;
                text-align: center;
            }

            .detail-2 {
                top: 60px;
                text-align: center;
            }
        }

        @include media-breakpoint-up(md) {
            .content {
                .box {
                    text-align: center;
                }
            }
        }
    }

    // slick-slide
    .slick-app {
        margin-top: 1rem;

        .item {
            display: flex;
            flex-direction: column;
            text-align: center;
            border-left: 1px solid #000;

            img {
                width: 50%;
                margin: auto;
            }

            a {
                display: none;
            }

            &:hover {
                a {
                    display: block;
                }
            }
        }
    }

    // banner
    .banner {
        flex-direction: column;
        margin-top: 1rem;

        div {
            text-align: center;

            img {
                width: 80%;
                border-radius: 1.5rem;
            }
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    // blog news
    .blog-news {
        margin-top: 1rem;

        .title-header {

            text-align: center;

            h4,
            h2 {
                text-transform: uppercase;
            }

            h4 {
                color: #27ba7a;
            }

            h2 {
                font-weight: bold;
            }
        }

        .blog-post {
            justify-content: space-evenly;
        }
    }

    // subscribe
    .subscrible {
        margin-top: 1rem;

        .test {
            flex-direction: column;
        }

        img {
            width: 100%;
            border-radius: 1.5rem;
        }

        .btn-k {
            background-color: #46BE7E;
            border-radius: 1.3rem;
            width: 350px;

            ::placeholder {
                color: #fff;
            }

            input[type=email]:focus {
                outline: none;
                border: none;
            }

            input[type=email] {
                border: none;
                outline: none;
                padding: 1rem 1.5rem;
                color: #fff;
                background-color: #46BE7E;
                border-radius: 1.3rem;
            }

            .btn {
                color: #fff;
            }

            .btn:focus {
                outline: none;
                border: none;
            }

            .btn:hover {
                border: none;
                outline: none;
            }
        }

        @include media-breakpoint-up(md) {
            .test {
                flex-direction: row;
                justify-content: center;
            }

            img {
                width: 70%;
            }
        }
    }

    // support
    .support {}

}

// footer
.footer {
    color: #fff;
    background-color: #181E23;

    .title-col {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .item-col {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: #6F777C;
            font-weight: 600;

            &:hover {
                color: #fff;
            }
        }
    }
}